.main-block {
  position: relative;
  padding: 39px 0 83px;
  height: calc(100vh - 100px);
  display: flex;
  align-items: flex-end;
  @include adaptiveValue("padding-bottom", 83, 40, 0, 1920, 1024);
  @media (max-width: $pc) {
    padding-top: 77px;
    padding-bottom: 8vh;
  }
  @media (max-width: $mobile) {
    padding: 120px 0 140px;
    align-items: flex-start;
  }

  &__container {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &::after {
    content: '';
    height: 373px;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    background: linear-gradient(360deg, #1C0B3F 0%, rgba(28, 11, 63, 0.0001) 100%);
    @media (max-width: $mobile) {
      height: 114px;
    }
  }

  &__video-ibg {
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 100%;

    video,
    iframe,
    object,
    embed {
      position: absolute;
      top: 50%;
      object-fit: cover;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 120%;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: #1C0B3F;
      opacity: 0.7;
    }
  }

  &__scroll {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    gap: 7px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.3px;
    bottom: 75px;
    right: 65px;

    ._header-scroll & {
      opacity: 0;
      visibility: hidden;
    }

    @media (hover: hover) {
      &:hover {
        color: $rose;

        svg {
          fill: $rose;
        }
      }
    }

    svg {
      fill: #fff;
      transform: rotate(90deg);
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    }

    @media (max-width: 1200px) {
      display: none;

    }
  }

  &__content {
    padding-left: 100px;
    @media (max-width: $mobile) {
      padding-left: 0;
    }
  }

  &__subtitle {
    font-size: 56px;
    line-height: math.div(81, 56);
    font-weight: 300;
    @media (max-width: $pc) {
      font-size: 30px;
    }
    @media (max-width: $mobile) {
      font-size: 25px;
    }

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 120px;
    max-width: 700px;
    @include adaptiveValue("font-size", 120, 90, 0, 1920, 1024);
    @media (max-width: $mobile) {
      font-size: 50px;
      line-height: math.div(56, 50);
    }

    &:not(:last-child) {
      margin-bottom: 40px;
      @media (max-width: $pc) {
        margin-bottom: 36px;
      }
      @media (max-width: $mobile) {
        margin-bottom: 18px;
      }

    }
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 25px;
    line-height: math.div(33, 25);
    text-transform: uppercase;
    color: #CAFD35;
    @media (max-width: $pc) {
      gap: 30px;
      font-size: 18px;
    }
    @media (max-width: $mobile) {
      gap: 20px;
      font-size: 14px;
    }
    margin-bottom: 140px;
    @media (max-width: $pc) {
      margin-bottom: 64px;
    }


    img {
      width: 55px;
      @media (max-width: $pc) {
        width: 40px;
      }
      @media (max-width: $mobile) {
        width: 30px;
      }
    }
  }

  &__button {
    height: 80px;
    letter-spacing: 1.71111px;
    color: #1C0A3B;
    font-size: 22px;
    font-weight: 900;
    padding: 10px 43px;
    display: flex;
    margin: 0 auto;
    max-width: 235px;
    @media (max-width: $pc) {
      height: 70px;
      font-size: 20px;
      padding: 5px 33px;
    }
    @media (max-width: $mobile) {
      height: 60px;
      padding: 5px 26px;
      font-size: 16px;
      margin-left: 0;
    }

  }
}

.fullscreen-bg {
  &__video {
  }
}

.button {
}