.rooms {
  &__container {
    display: flex;
    max-width: 1920px;
    padding-left: 0;
    gap: 90px;
    @media (max-width: em(1200)) {
      padding-left: 15px;

    }
  }

  &__image-ibg {
    width: percent(940, 1920);
    padding-bottom: percent(1006, 1920);
    @media (max-width: em(1200)) {
      display: none;

    }
  }

  &__content {
    padding-top: 10px;
    flex: 1 1 auto;
    @media (max-width: em(1200)) {
      max-width: 795px;
      margin: 0 auto;

    }
  }

  &__title {
    font-size: 50px;
    line-height: math.div(60, 50);
    text-transform: uppercase;
    font-weight: 800;
    @media (max-width: em(1200)) {
      text-align: center;

    }
    @media (max-width: $mobile) {
      font-size: 30px;
      text-align: left;
    }

    &:not(:last-child) {
      margin-bottom: rem(50);
      @media (max-width: $mobile) {
        margin-bottom: 30px;
      }
    }
  }

  &__list {
    li {
      display: flex;
      align-items: center;
      gap: 41px;
      font-weight: 300;
      font-size: 24px;
      @media (max-width: $mobile) {
        font-size: 20px;
        gap: 26px;
        line-height: math.div(30, 20);
      }

      &:not(:last-child) {
        margin-bottom: rem(40);
      }

      b {
        font-weight: 700;
      }
    }
  }

  &__icon {
    max-width: 117px;
    width: 100%;
    text-align: center;
    flex-shrink: 0;
    @media (max-width: $mobile) {
      max-width: 83px;
    }

    img {
      max-height: 100px;
      @media (max-width: $mobile) {
        max-height: 70px;
      }
    }

  }
}