.datepicker {
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__date {
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__day {
    font-weight: 700;
    font-size: 90px;
    line-height: math.div(90, 90);
    margin-bottom: -13px;
    @media (max-width: em(1200)) {
      font-size: 70px;
      margin-bottom: -8px;

    }
  }

  &__month {
    font-weight: 700;
    font-size: 30px;
  }

  img {
    margin-left: 13px;
    width: 24px;
    flex-shrink: 0;
    transform: translateY(-4px);
    display: inline-block;
    @media (max-width: em(1200)) {
      margin-left: 10px;

    }
  }
}